.card{
    width: 20%;
    max-width: 215px;
    min-width: 160px;
    border: 1.5px solid white;
    margin: 1rem;
}

.card h2{
    padding: 0.8rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 0.15rem;
    background-color: black;
    color: white;
}

.card a{
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    display: block;
    text-align: center;
    margin: 0.2rem;
    color: white;
}